body {
    background-color: #1C1C1F;
    color: #F9FAFB;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

header {
    text-align: center;
    margin-bottom: 2em;
}

.links {
    margin: 0 auto;
    display: flex;
    gap: 24px;
    padding: 16px 24px;
    background: #1E1E1E;
    border-radius: 16px;
    border: 1px solid #9B59FF;
    width: fit-content;
}

.links a {
    color: #C0C0C0;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 8px;
    transition: color 0.2s, background 0.2s;
}

.links a:hover {
    color: #FFFFFF;
    background: rgba(155, 89, 255, 0.2);
}

.top {
    margin: 40px 0 40px;
}

.text-block {
    background: #2A2A33;
    border-radius: 16px;
    padding: 24px;
    color: #FFFFFF;
    border: 1px solid #7C4DFF;
    box-shadow:
    0 0 10px rgba(124, 77, 255, 0.4),
    0 0 20px rgba(124, 77, 255, 0.2);
    margin-bottom: 40px;
}

hr {
    border: none;
    height: 3px;
    border-radius: 2px;
    background: linear-gradient(90deg, #7C4DFF, #B39DFF);
    box-shadow: 
    0 0 12px rgba(124, 77, 255, 0.6),
    0 0 20px rgba(179, 157, 255, 0.4);
    margin: 10px 0;
}

.two-list {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 700px;
}

.two-list ul:first-child{
    flex: 0 0 auto;
}

.two-list ul:last-child{
    flex: 0 0 auto;
    margin-left: auto;
}

.jesse {
    width: 100px;
}

footer {
    text-align: center;
    color: #B0B0B0;
    font-size: 14px;
}

a {
  color: #7C4DFF;
  text-decoration: none;
}


a:hover {
  color: #B39DFF;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    max-width: 900px;
    margin: 40px auto;
}

.photo-item h2 {
    margin-bottom: 12px;
    color: #F5F5F5;
    text-align: center;
}

.img-odessa {
    width: 100%;
    border-radius: 16px;
    border: 1px solid #9B59FF;
    box-shadow: 0 0 12px rgba(155, 89, 255, 0.3);
}

.map-center {
    display: flex;
    justify-content: center;
}

.map h2 {
    margin-bottom: 12px;
    color: #F5F5F5;
    text-align: center;
}